USE [master]
GO
/****** Object:  Database [IS_02]    Script Date: 15.06.2023 11:51:15 ******/
CREATE DATABASE [IS_02]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'IS_02', FILENAME = N'D:\MSSQL\MSSQL14.MSSQLSERVER\MSSQL\DATA\IS_02.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'IS_02_log', FILENAME = N'D:\MSSQL\MSSQL14.MSSQLSERVER\MSSQL\DATA\IS_02_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [IS_02].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [IS_02]
GO
/****** Object:  User [IS_02]    Script Date: 15.06.2023 11:51:15 ******/
CREATE USER [IS_02] FOR LOGIN [IS_02] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [IS_02]
GO
/****** Object:  Table [dbo].[Cities]    Script Date: 15.06.2023 11:51:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cities](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Photo] [varbinary](max) NULL,
	[Name] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Cities] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Countries]    Script Date: 15.06.2023 11:51:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Countries](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[EnglishName] [nvarchar](max) NOT NULL,
	[Code] [nchar](2) NOT NULL,
 CONSTRAINT [PK_Countries] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Events]    Script Date: 15.06.2023 11:51:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Events](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Date] [date] NOT NULL,
	[LengthInDays] [int] NOT NULL,
	[CityId] [int] NULL,
 CONSTRAINT [PK_Events] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Genders]    Script Date: 15.06.2023 11:51:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Genders](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Genders] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 15.06.2023 11:51:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
 CONSTRAINT [PK_Roles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Specialities]    Script Date: 15.06.2023 11:51:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Specialities](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Specialities] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 15.06.2023 11:51:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Surname] [nvarchar](max) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Patronymic] [nvarchar](max) NOT NULL,
	[EMail] [nvarchar](max) NULL,
	[Password] [nvarchar](max) NOT NULL,
	[GenderId] [int] NOT NULL,
	[RoleId] [int] NOT NULL,
	[BirthDate] [date] NOT NULL,
	[CountryId] [int] NOT NULL,
	[PhoneNumber] [nvarchar](50) NOT NULL,
	[PhotoBytecode] [varbinary](max) NULL,
	[SpecialityId] [int] NULL,
	[EventId] [int] NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Cities] ON 

INSERT [dbo].[Cities] ([Id], [Photo], [Name]) VALUES (1, NULL, N'Абаза')
INSERT [dbo].[Cities] ([Id], [Photo], [Name]) VALUES (2, NULL, N'Абакан')
INSERT [dbo].[Cities] ([Id], [Photo], [Name]) VALUES (3, NULL, N'Абдулино')
GO
SET IDENTITY_INSERT [dbo].[Cities] OFF
GO
SET IDENTITY_INSERT [dbo].[Countries] ON 

INSERT [dbo].[Countries] ([Id], [Name], [EnglishName], [Code]) VALUES (4, N'Афганистан', N'Afghanistan', N'AF')
INSERT [dbo].[Countries] ([Id], [Name], [EnglishName], [Code]) VALUES (8, N'Албания', N'Albania', N'AL')
INSERT [dbo].[Countries] ([Id], [Name], [EnglishName], [Code]) VALUES (10, N'Антарктида', N'Antarctica', N'AQ')
GO
SET IDENTITY_INSERT [dbo].[Countries] OFF
GO
SET IDENTITY_INSERT [dbo].[Events] ON 

INSERT [dbo].[Events] ([Id], [Name], [Date], [LengthInDays], [CityId]) VALUES (1, N'Выставка / Платное', CAST(N'2022-11-28' AS Date), 1, 23)
INSERT [dbo].[Events] ([Id], [Name], [Date], [LengthInDays], [CityId]) VALUES (2, N'Выставка-форум «Передовые Технологии Автоматизации. ПТА - Санкт-Петербург » ', CAST(N'2022-04-01' AS Date), 2, 4)
INSERT [dbo].[Events] ([Id], [Name], [Date], [LengthInDays], [CityId]) VALUES (3, N'Высшая школа трафика ', CAST(N'2022-04-05' AS Date), 1, 5)
SET IDENTITY_INSERT [dbo].[Events] OFF
GO
SET IDENTITY_INSERT [dbo].[Genders] ON 

INSERT [dbo].[Genders] ([Id], [Name]) VALUES (1, N'Мужской')
INSERT [dbo].[Genders] ([Id], [Name]) VALUES (2, N'Женский')
SET IDENTITY_INSERT [dbo].[Genders] OFF
GO
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([Id], [Name]) VALUES (1, N'Организатор')
INSERT [dbo].[Roles] ([Id], [Name]) VALUES (2, N'Модератор')
INSERT [dbo].[Roles] ([Id], [Name]) VALUES (3, N'Жюри')
SET IDENTITY_INSERT [dbo].[Roles] OFF
GO
SET IDENTITY_INSERT [dbo].[Specialities] ON 

INSERT [dbo].[Specialities] ([Id], [Name]) VALUES (1, N'Аналитика')
INSERT [dbo].[Specialities] ([Id], [Name]) VALUES (2, N'Информационная безопасность')
INSERT [dbo].[Specialities] ([Id], [Name]) VALUES (3, N'ИТ')
SET IDENTITY_INSERT [dbo].[Specialities] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([Id], [Surname], [Name], [Patronymic], [EMail], [Password], [GenderId], [RoleId], [BirthDate], [CountryId], [PhoneNumber], [PhotoBytecode], [SpecialityId], [EventId]) VALUES (1, N'Быкова', N'Адель', N'Ростиславовна', N'lb29hedo61w5@outlook.com', N'3nASCj', 2, 4, CAST(N'1978-05-22' AS Date), 4, N'7(495)604-69-01', NULL, NULL, NULL)
INSERT [dbo].[Users] ([Id], [Surname], [Name], [Patronymic], [EMail], [Password], [GenderId], [RoleId], [BirthDate], [CountryId], [PhoneNumber], [PhotoBytecode], [SpecialityId], [EventId]) VALUES (2, N'Брагина', N'Каторина', N'Аристарховна', N'c3rfbaekvuhj@gmail.com', N'EY6CON', 2, 4, CAST(N'1970-03-29' AS Date), 4, N'7(495)859-01-98', NULL, NULL, NULL)
INSERT [dbo].[Users] ([Id], [Surname], [Name], [Patronymic], [EMail], [Password], [GenderId], [RoleId], [BirthDate], [CountryId], [PhoneNumber], [PhotoBytecode], [SpecialityId], [EventId]) VALUES (3, N'Юдина', N'Борислава', N'Христофоровна', N'1d6gfnu0tjq4@yahoo.com', N'x2FCMA', 2, 4, CAST(N'1979-09-04' AS Date), 4, N'7(495)131-69-24', NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF_Users_RoleId]  DEFAULT ((4)) FOR [RoleId]
GO
ALTER TABLE [dbo].[Events]  WITH CHECK ADD  CONSTRAINT [FK_Events_Cities] FOREIGN KEY([CityId])
REFERENCES [dbo].[Cities] ([Id])
GO
ALTER TABLE [dbo].[Events] CHECK CONSTRAINT [FK_Events_Cities]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Countries] FOREIGN KEY([CountryId])
REFERENCES [dbo].[Countries] ([Id])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Countries]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Events] FOREIGN KEY([EventId])
REFERENCES [dbo].[Events] ([Id])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Events]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Genders] FOREIGN KEY([GenderId])
REFERENCES [dbo].[Genders] ([Id])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Genders]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Roles] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Roles] ([Id])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Roles]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Specialities] FOREIGN KEY([SpecialityId])
REFERENCES [dbo].[Specialities] ([Id])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Specialities]
GO
USE [master]
GO
